@using Microsoft.AspNetCore.Components.Routing
@using global::SocialMind.Shared.Layout
@using global::SocialMind.Shared.Pages

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/SocialMind.Shared/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/SocialMind.Shared/app.css" />
    <link rel="stylesheet" href="SocialMind.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/SocialMind.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="@(new[] { typeof(MainLayout).Assembly })">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(MainLayout)">
                <NotFound />
            </LayoutView>
        </NotFound>
    </Router>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }
}


